<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>

<header th:replace="fragments/commons :: navbar"></header>
<div class="row">
    <div class="col-md-2"></div>
    <main
          class="jumbotron text-center rounded col-md-8 align-self-center">
        <div class="justify-content-center">
            <h1>Add Company</h1>
        </div>
        <form class="m-md-auto w-50 text-center"
              th:object="${addCompanyBindingModel}"
              th:action="@{/companies/add}"
              th:method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input th:field="*{name}"
                       required minlength="2" maxlength="10"
                       type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
				name="name"/>
                <small th:if="${#fields.hasErrors('name')}" class="errors alert alert-danger"></small>
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input th:field="*{town}"
                       required minlength="2" maxlength="10"
                       type="text" class="form-control text-center" id="town" aria-describedby="town"
				name="town"/>
                <small th:if="${#fields.hasErrors('town')}" class="errors alert alert-danger">Town length must be between 2 and 10</small>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input th:field="*{description}"
                       required minlength="10"
                       type="text" class="form-control text-center"
				id="description" aria-describedby="description" name="description"/>
                <small th:if="${#fields.hasErrors('description')}" class="errors alert alert-danger">Description must be more than 10</small>
            </div>

            <div class="form-group">
                <label for="budget">Budget</label>
                <input th:field="*{budget}"
                       required min="1"
                       type="number" class="form-control text-center"
                       id="budget" aria-describedby="town" name="town"/>
                <small th:if="${#fields.hasErrors('budget')}">Budget must be positive</small>
            </div>

            <button type="submit" class="btn btn-secondary">Add Company</button>
        </form>
    </main>
</div>

<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>